<div id="<%= dom_id noticium %>">
  <p>
    <strong>Title:</strong>
    <%= noticium.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= noticium.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= noticium.user_id %>
  </p>

</div>
