.container {
    max-width: 400px;
    margin-top: 100px;
    background-color: rgb(119, 19, 119);
  }
  .logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-control {
    border-radius: 0;
  }
  .btn {
    border-radius: 0;
    width: 100%;
  }
  .link {
    color: #666;
    text-decoration: none;
  }
  .link:hover {
    color: #333;
    text-decoration: underline;
  }
